# ENV name
ENV=EXAMPLE

# App name
APP_NAME=

# API Url
API_URL=

# Android app ID, define on google play
ANDROID_APP_ID=

# Android app version name, define on google play
ANDROID_APP_VERSION_NAME=

# Android version code, this is an unique code on google play
ANDROID_APP_VERSION_CODE=

# Bundle ID of app on app store
IOS_APP_ID=

# Version name on apple store
IOS_APP_VERSION_CODE=

# Build code on app store, unique for each version
IOS_APP_BUILD_CODE=

#IOS app store ID
IOS_APP_STORE_ID=
